body{
    background-color: black;
    color: white;
}


.content h1{
    font-size : 3em;
    font-family: 'Lato', sans-serif;
    padding-bottom: 2%;
}

.content{
    padding: 5%;
    line-height: 3em;
    text-align: center;
}

.fa {
    font-size: 1.5em;
    padding:5px;
}

.content p {
    font-size: 1.5em;
    color: rgb(200, 200, 200);
    font-family: 'Raleway', sans-serif;
}


.content a {
    font-size: 1.6em;
    color:white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.content a:link{
    color: white;
}

.username {
    font-weight: bold;
    color: white;
}

.content a:visited{
    color: rgb(241, 241, 241);
} 
.content  a:hover{
    color: rgb(241, 241, 241);
}
.content ul {
    list-style-type: none;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
